<!doctype html>
<html lang="en">
  <head>
 <% include ./partials/head %>

  </head>
  <body>
    <header>
  <% include ./partials/header %>
</header>

<main role="main">


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
    
      
      <div class="col-lg-4">
        <p>Hi <%= name %>, You are a <%= role%>.</p>
      </div><!--  /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <% include ./partials/footer %>
  </footer>
</main>
</body>
</html>
