<!DOCTYPE html>
<!-- saved from url=(0051)https://getbootstrap.com/docs/4.3/examples/sign-in/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <meta name="generator" content="Jekyll v3.8.5">
    <title>Signin</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">

    <!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin" action="/signup" method="post" >

			<img class="mb-4" src="logo.png" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
		  
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-user"></i> </span>
				 </div>
				<input id="signupFirstName" class="form-control" placeholder="First name" type="text" required="" name = "fname">
				<input id="signupLastName" class="form-control" placeholder="Last name" type="text" required="" name = "lname"> 
			</div>
			
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
				 </div>
				<input id="signupEmail" class="form-control" placeholder="Email address" type="email" required="" name = "email">
			</div> 
			
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
				</div>
				<input id="signupPhoneNum" class="form-control" placeholder="Phone number" type="text" required="" name = "phone">
			</div>
			
			<div class="form-group input-group">
				<div class="input-group-prepend">		    
					<label for="inputDoB" class="col-sm-2" style="min-width: 130px; padding: 8px 0px 8px 0px">Date of Birth: &nbsp</label>
				</div>
				<input type="Date" id="signupDoB" placeholder="Date of Birth" class="form-control" required="" name = "dob">
			</div>
			
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
				</div>
				<input id="signupCreatePwd" class="form-control" placeholder="Create password" type="password" required="" name = "pass">
			</div>
			
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
				</div>
				<input id="signupRepeatPwd" class="form-control" placeholder="Repeat password" type="password" required="">
			</div> 
			
			<div class="form-group">
				<button id="signupCreateAccount" type="submit" class="btn btn-primary btn-block"> Create Account  </button>
			</div> 
			
			<p class="text-center">Have an account? <a href="">Log In</a> </p>                                                                 
	</form>

</body>
</html>
